{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <style>
      .message {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: #f8d7da;
        color: #721c24;
        z-index: 9999;
      }
    </style>
    <title>Login Page</title>
  </head>
  <body>
    {% if messages %} {% for message in messages %}
    <div
      class="alert alert-warning alert-dismissible fade show message"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
    <br /><br />
    <div class="form-box">
      <img
        class="portrait"
        src="{% static 'Images/Portrait Photo Login.jpg' %}"
        alt="Puzzel Photo"
      />
      <img
        class="Logo"
        src="{% static 'Images/Login_Logo.png' %}"
        alt="Logo Image"
      />
      <form class="form" action="" method="POST">
        {% csrf_token %}
        <span class="title">Login</span>
        <div class="form-container">
          <input
            type="text"
            class="input"
            placeholder="Username"
            name="username"
          />
        </div>
        <div class="form-container">
          <input
            type="password"
            class="input"
            placeholder="Password"
            name="password"
          />
        </div>
        <input
          type="submit"
          value="Submit"
          class="btn btn-primary btn-lg mt-5"
        />
      </form>
    </div>
  </body>
</html>
